.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --color-title: #FFC2E6;
  --color-text: #353430;
  --color-text-title: #353430;
  --color: #353430;
  --allocation-color: #FF8DCB;
  --text-shadow-color: #FF0070;
  --transparent-color: rgba(50, 49, 45, 0.4);
  --color-link: #FF8DCB;
  ;
}

@media(prefers-color-scheme: light) {

  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
   /* --font-family: "IBM Plex mono",arial,helvetica,sans-serif,monospace;
    --font-size-text: 18px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;*/
    --color-title: #FFC2E6;
    --color-text: #353430;
    --color-text-title: #353430;
    --color: #353430;
    --allocation-color: #FF8DCB;
    --text-shadow-color: #FF0070;
    --transparent-color: rgba(50, 49, 45, 0.4);
    --color-link: #FF8DCB;
}
}
